* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #1ebfc1;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */

a {
  text-decoration: none;
}
.main-content {
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
  max-width: calc(100% - 48px);
}

.btn {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  border-radius: 14px;
  background: var(--primary-color);
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
  min-width: 186px;
  padding: 25px 41px;
}

.btn:hover {
  opacity: 0.9;
}

/* Header */
.header {
  background: #fff;
}

.fixed {
  position: sticky;
  z-index: 1;
  top: -44px;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 52px 0 8px;
}

.header .nav {
  margin-left: 235px;
}

.header .nav ul {
  display: flex;
}

.header .nav li + li {
  margin-left: 39px;
}

.header .action {
  margin-left: 177px;
}

.header .nav .active a,
.nav a:hover {
  color: #171100;
  font-size: 1.6rem;
  text-shadow: 1px 0 0 currentColor;
}

.nav ul a {
  color: #2f3a3b;
  font-size: 1.6rem;
  font-weight: 400;
}

.header .action {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
}

.header .action .sign-in {
  color: #2f3a3b;
  font-size: 1.6rem;
  font-weight: 400;
}

.header .sign-up-btn {
  margin-left: 24px;
  color: var(--primary-color);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid var(--primary-color);
  background: transparent;
  min-width: 108px;
  padding: 15px 22px;
}

/* -------------Hero---------------- */

.hero {
  padding: 42px 0 79px;
}

.hero .body {
  display: flex;
}

.hero .content-block {
  padding-top: 93px;
  width: 39%;
}

.hero .content-block .title {
  color: #767e7e;
  font-size: 1.4rem;
  font-weight: 400;
}

.hero .content-block .heading {
  margin-top: 18px;
  color: #0d1111;
  width: 458px;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.17;
}

.hero .content-block .desc {
  margin-top: 46px;
  color: #9da6a5;
  font-size: 1.8rem;
  width: 374px;
  font-weight: 400;
  line-height: 1.78;
}

.hero .content-block .cta {
  margin-top: 52px;
  display: flex;
  align-items: center;
}
.content-block .cta .play {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  margin-left: 50px;
  background: #fff;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  text-align: center;
  cursor: pointer;
}

.content-block .cta .play:hover {
  border: 1px solid var(--primary-color);
}

.hero .media-block {
  padding-left: 136px;
  width: 61%;
}

.hero .media-body {
  position: relative;
}

.hero .media-block .thumb {
  width: 100%;
  object-fit: cover;
  width: 576px;
  height: 631px;
}

.media-block .courses {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 17px 25px 18px;
  width: 157px;
  top: 149px;
  left: -40px;
  border-radius: 18px;
  background: #fefefd;
}

.media-block .img-icon {
  position: relative;
}

.media-block .courses span {
  position: absolute;
  width: 28px;
  height: 4px;
  background: #fff;
  bottom: 8px;
  left: 4px;
  border-radius: 999px;
}

.media-block .courses .title {
  margin-left: 16px;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}

.media-block .avt {
  position: absolute;
  background: #fefefd;
  padding: 17px 35px;
  width: 207px;
  bottom: 41px;
  right: 45px;
  border-radius: 24px;
}

.media-block .avatar {
  margin-top: 8px;
  display: flex;
}

.media-block .avatar .avt-thumb {
  width: 33px;
  height: 33px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: -6px;
}

.media-block .avatar .avt-thumb:first-of-type {
  margin-left: 0;
}

.avt .info .title {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
}

.avt .avt-color span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  width: 33px;
  height: 33px;
  flex-shrink: 0;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin-left: -6px;
}

.schedules {
  padding: 16px 25px 23px;
  background: #fff;
  width: 124px;
  border-radius: 24px;
  position: absolute;
  bottom: 46px;
  left: -60px;
}

.schedules .title {
  color: #0d1111;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}
.straight-bar {
  margin-top: 16px;
  width: 74px;
  height: 6px;
  background: #edf1f5;
  border-radius: 4px;
  position: relative;
}

.straight-bar::before {
  display: inline-block;
  content: "";
  background: #fb9899;
  position: absolute;
  width: 50%;
  height: 100%;
  border-radius: 4px;
}

.straight-bar-1 {
  margin-top: 12px;
}

.straight-bar-1::before {
  display: inline-block;
  content: "";
  background: #fb9899;
  position: absolute;
  width: 70%;
  height: 100%;
  border-radius: 4px;
}

.straight-bar-2 {
  margin-top: 10px;
}

.straight-bar-2::before {
  display: inline-block;
  content: "";
  background: #fb9899;
  position: absolute;
  width: 45%;
  height: 100%;
  border-radius: 4px;
}

.straight-bar-3 {
  margin-top: 16px;
  width: 26px;
  height: 6px;
  background: #edf1f5;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

/* Features */
.features {
  padding: 130px 135px 0;
}

.features .features-top .title {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}

.features .features-top .heading {
  margin-top: 18px;
  color: #0d1111;
  font-family: Poppins;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.33;
  width: 577px;
}

.features .features-top .desc {
  margin-top: 18px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
  width: 590px;
  line-height: normal;
}

.extensions {
  margin-top: 80px;
}

.extensions .list-ex {
  gap: 209px;
  display: flex;
  align-items: center;
}

.extensions .item-ex .title {
  margin-top: 26px;
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
}

.extensions .item-ex .desc {
  margin-top: 16px;
  color: #9da6a5;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.69;
  width: 223px;
}

.extensions .icon .icon-ex {
  display: flex;
  align-items: center;
}
